body {
    height: 5000px;
}

* {
    box-sizing: border-box;
}

.display_explain {
    display: inline;
}

.display_explain2 {
    display: block;
}

.display_explain2:nth-child(2) {
    height: 100px;
    width: 100px;
    background-color: #EEE;
}

p span {
    color: red;
    background-color: #00F;
    height: 100px;
    width: 100px;
    margin: 30px;
    display: inline-block;
    padding: 22px;
    border: 5px solid #090;

}

.visibility_explain {
    height: 70px;
    width: 70px;
    background-color: #f9f9f9;
    border: solid
}

.visibility_explain:nth-of-type(2) {
    visibility: hidden;
}

.visibility_explain:first-of-type {
    /* opacity: .5; */
    opacity: 50%;
    /* The same effect */
}

.first_ul {
    list-style-type: lower-roman;
    list-style-position: inside;
}

.first_ul li {
    background-color: #090;
}

table {
    border-collapse: collapse;
    caption-side: bottom;
}

td,
th {
    border: 1px solid #4b4b4b;
}


nav ul li {
    /* display: inline-block; */
    float: left;
    margin: 10px;
}

nav ul div {
    clear: both
}

nav ul::after {
    content: "";
    display: block;
    clear: both
}
