body {
    height: 5000px;
}

* {
    box-sizing: border-box;
}

.parent {
    height: 300px;
    width: 300px;
    margin: 50px auto;
    background-color: #797979;
    padding: 20px;
}

.parent:hover .translate {
    /* transform: translateY(-50px); */
    transform: rotateY(-180deg);
    /* transform: scale(1.5); */
    /* transform: skew(30deg); */
    transform-origin: 100% 100%;
}

.translate {
    height: 100px;
    width: 100px;
    background-color: #e7e7e7;
    transition: .5s;
}

.card {
    position: relative;
    height: 220px;
    width: 150px;
    margin: auto;
    transition: .5s;
    backface-visibility: hidden;
}

.card_parent:hover .card {
    transform: rotateY(-180deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.front {
    background-color: #F00;
}

.back {
    background-color: #00F;
    transform: rotateY(-180deg);
}