@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    height: 5000px;
}

/* ! ---------------------- Start global styles ---------------------- */
:root {
    --primary: #59ab6e;
    --main_bg: #212934;

    --header_font: #cfd6e1;
    --light_font: #484c4f;
    --dark_font: #23272b;

    --hero_bg: #efefef;
    --bg2: #e9eef5;
    --active_star: #ede861;
    --not_active_star: #bcbcbc;
    --copy_rights_bg: #1d242d;
    --footer_font: #cfd6cd
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 75%;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex
}

.justify_between {
    justify-content: space-between;
}

.align_center {
    align-items: center;
}

.capitalize {
    text-transform: capitalize;
}

.text_center {
    text-align: center;
}

.section_title {
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
}

.section_desc {
    text-align: center;
    font-weight: 400;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}

/* ! ---------------------- End global styles ---------------------- */
/* ! ---------------------- Start header styles ---------------------- */

header {
    background-color: var(--main_bg);
    color: var(--header_font);
    font-size: .8rem;
    padding: 10px 0;
}

header .left a {
    margin-inline-end: 10px;
}

header .right a,
header .left a span {
    margin-inline-start: 5px;
}

header .right a i {
    transition: .5s all ease-in-out;
}

header .right a:hover i {
    transform: scale(1.4);
}



/* ! ---------------------- End header styles ---------------------- */
/* ! ---------------------- Start nav styles ---------------------- */
nav ul {
    list-style: none;
    gap: 60px;
    color: var(--light_font);
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 300;
}

nav .icons i {
    margin-inline-start: 7px;
}

nav .icons .shopping,
nav .icons .notification {
    position: relative;
}

nav .icons .shopping::after,
nav .icons .notification::after {
    position: absolute;
    top: -15px;
    background-color: var(--bg2);
    font-size: .6rem;
    padding: 4px;
    border-radius: 10px;
    height: 11px;
    width: max-content;
    text-align: center;
    line-height: 14px;
}

nav .icons .shopping::after {
    content: "7";
    right: -9px;
}

nav .icons .notification::after {
    content: "+99";
    right: -17px;
}


/* ! ---------------------- End nav styles ---------------------- */
/* ! ---------------------- Start hero section styles ---------------------- */
.hero {
    background-color: var(--hero_bg);
    padding: 30px 0;
}

.hero .container>img {
    width: 40%;
}

/* ! ---------------------- End hero section styles ---------------------- */
/* ! ---------------------- Start categories section styles ---------------------- */
.categories .item img {
    border-radius: 50%;
    border: 1px solid var(--header_font);
}

.categories button {
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: #FFF;
    background-color: var(--primary);
    font-weight: 300;
    cursor: pointer;
}

/* ! ---------------------- End categories section styles ---------------------- */

@media (max-width:750px) {
    :root {
        font-size: 12px;
    }

    nav ul {
        gap: 20px;
    }

    nav .icons .shopping::after,
    nav .icons .notification::after {
        height: 7px;
        line-height: 7px;
    }
}

@media (max-width:600px) {

    /* ****************? Global *********************** */
    :root {
        font-size: 8px;
    }

    header .container,
    nav .container {
        flex-direction: column;
        gap: 10px;
    }

    /* ****************? Header *********************** */
    header .container {
        /* flex-wrap: wrap; */
        gap: 10px;
        align-items: center;
    }

    /* **************** nav *********************** */

    nav .container ul {
        margin-top: 0;
    }
}


/* ******************************** */

.fa-star {
    color: var(--not_active_star)
}

.active {
    color: var(--active_star)
}