.parent {
    color: rgb(153, 243, 35);

    .card {
        font-weight: bold;

        > span {
            text-transform: uppercase;
        }

        &:nth-child(2) {
            font-style: italic;
        }

        &::after{
            content:"f"
        }
    }

    @include theme(rgb(0, 255, 4));

    @media (min-width: 500px) {
        display: flex;
    }
}
