.collection {
    background:
        linear-gradient(#888, #88888800),
        url(../images/collection/sofa-collection-banner.jpg) center;
    // Task
    background-size: 40%, cover;
    height: 500px;

    // position: relative;
    // .overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 40%;
    //     height: 100%;
    //     background: #eeeeeea1;
    // }
    // .container {
    //     position: relative;
    //     z-index: 1;
    // }
}
