nav {
    background-color: $nav_bg;

    .activeLink,
    .nav-link:hover {
        color: $main_color;
    }

    .icons {
        gap: 5px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}
